<div style="margin-top:20px;"></div>
<ul class="nav nav-tabs">
    <li role="presentation" class="active">@Html.ActionLink("Home", "AdminIndex", "Home")</li>
    <li role="presentation">@Html.ActionLink("Users", "Index", "Account")</li>
    <li role="presentation">@Html.ActionLink("Videos", "Index", "Videos")</li>
    <li role="presentation">@Html.ActionLink("Categories", "Index", "Categories")</li>
</ul>
