@*@model VideoTutorials.Models.User*@

<div style="margin-top:20px;"></div>

<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("Videos", "VideoList", "Videos")</li>
    <li role="presentation">@Html.ActionLink("Suggest a Video", "Create", "Videos")</li>
    <li role="presentation">@Html.ActionLink("Edit Profile", "EditProfile", "Account")</li>
    <li role="presentation">@Html.ActionLink("View your Profile", "UserDetails", "Account")</li>
    
</ul>
